div.alert-danger > span.error{
	font-size: 14px;
}
div.file-drop-zone{
	overflow: auto;
} 

small.help-block[data-bv-result="INVALID"]{
	font-size: 9px;
	color: red;
}
.modal-dialog.modal-1000 {
    max-width: 1200px;
    margin: 30px auto;
}
table{
	font-size: 13px;
}